.footer-link {
  transition: color $timingFunction;

  color: $whiteTransparent;
  font-size: 14px;
  font-style: normal;
}
.footer-link:hover,
.footer-link:focus {
  color: $accent;
}
.footer-adress {
  transition: color $timingFunction;

  color: $whiteColor;
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
}
.footer-adress:hover,
.footer-adress:focus {
  color: $accent;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
