.portfolio {
  background-color: var(--white-color);
}
.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}
.portfolio .filter-button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  font-family: inherit;
  background-color: var(--background-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  transition: background-color var(--timing-function),
    color var(--timing-function), box-shadow var(--timing-function);
}

.portfolio .filter-button:hover,
.portfolio .filter-button:focus {
  background-color: var(--accent);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
