.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team .text {
  color: $textColor;
  font-size: 16px;
  line-height: 1.19;
}
.social-link-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}
.social-link-item {
  width: 44px;
  height: 44px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;

  color: #afb1b8;

  transition: background-color $timingFunction, color $timingFunction;
}

.social-link-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: $accent;
  color: $whiteColor;
}
