.team {
  background-color: $backgroundSecondary;
  text-align: center;
}
.team .list {
  display: flex;
}
.team .main-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.team .workers {
  background-color: $whiteColor;
}
.team .workers:not(:last-child) {
  margin-right: 30px;
}
