:root {
  --primary-color: #212121;
  --text-color: #757575;
  --accent: #2196f3;
  --logo-color: #000000;
  --white-color: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.6);
  --background-primary: #f5f5f5;
  --background-secondary: #f5f4fa;
  --background-dark: #2f303a;
  --border-color: #ececec;

  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
